.hands {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

.hands::before {
  content: "";
  max-width: 1920px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--primary-red);
}
