.swiper {
  min-height: 200px;
  height: 100%;
  position: relative;
}

.swiperButtonPrev {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background: none;
  border: none;
  z-index: 10;
}

.swiperButtonNext {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 10;
}

.swiperButtonPCPrev {
  position: absolute;
  cursor: pointer;
  top: -60px;
  right: 0;
  background: none;
  border: none;
  z-index: 10;
}

.swiperButtonPCNext {
  position: absolute;
  cursor: pointer;
  top: -60px;
  right: 34px;
  background: none;
  border: none;
  z-index: 10;
  transform: rotate(180deg);
}

@media (max-width: 576px) {
  .swiperButtonPCNext,
  .swiperButtonPCPrev {
    display: none;
  }

  .swiperButtonNext,
  .swiperButtonPrev {
    display: block;
  }
}
