.swiper {
  margin-bottom: 102px;
  height: 220px;
}

.slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card__slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 168px;
  border-radius: 18.95px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  border-radius: 18.95px;
}

.card__inner {
  padding: 19px 13px;
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background: #46464633;
  border-radius: inherit;
  backdrop-filter: blur(22.96983528137207px);
}

.active {
  height: 199px;
  border: 1.18px solid #ffffff47;
  box-shadow: 0px 4px 20px 0px #ffffff33;
}
