.rules {
  padding: 100px 0;
}

.rules__block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rules__title {
  margin-bottom: 58px;
  text-align: center;
  font-size: 64px;
  line-height: 128%;
}

.rules__approved {
  margin-bottom: 58px;
  text-align: left;
  font-size: 20px;
  line-height: 100%;
}

@media (max-width: 576px) {
  .rules {
    padding: 96px 0;
  }

  .rules__approved {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 100%;
  }

  .rules__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 128%;
  }
}
