.footer {
  padding: 91px 0;
  background-image: url("../../assets/footer__bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__block::before {
  padding: 5px 0;
  content: "© Quest House 2025";
  color: #000618;
  position: absolute;
  text-align: center;
  bottom: -102px;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    #000618 2.31%,
    #03b9bb 47.25%,
    #000618 99.25%
  );
  border-radius: 399.38px;
}

.footer__left {
  font-size: 14px;
  line-height: 180%;
}

.footer__link {
  padding: 16px 31px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  text-decoration: underline;
}

@media (max-width: 1600px) {
  .footer__block {
    padding: 0 calc(100% - 80em);
  }
}

@media (max-width: 992px) {
  .footer__block {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__link {
    left: auto;
    transform: none;
    position: relative;
    order: 1;
  }

  .footer__left {
    max-width: 200px;
    order: 3;
  }

  .footer__right {
    text-align: center;
    order: 2;
  }
}

@media (max-width: 576px) {
  .footer {
    background-image: url("../../assets/footer__bg_phone.png");
    background-position: top center;
    background-size: contain;
  }
}
