.modal {
  padding: 0;
  height: 100%;
}

.modal__close {
  right: 32px;
  top: 32px;
}

.quest__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 576px;
  overflow: auto;
}

.more__quests {
  margin-bottom: 24px;
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.quest__item {
  width: 299px;
  height: 168px;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 16px;
}

.card__link {
  width: 100%;
  height: 100%;
  display: flex;
}

.card__link::before {
  content: "";
  position: absolute;
  align-self: stretch;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__info {
  padding: 16px 11px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #46464633;
  backdrop-filter: blur(19.398147583007812px);
  border-radius: 16px;
  align-self: flex-end;
}

.modal__block {
  display: flex;
  height: 100%;
}

.modal__title {
  font-size: 36px;
  line-height: 128%;
  text-align: center;
}

.modal__aside__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal__perfomance {
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  text-align: center;
}

.modal__aside {
  padding: 66px 68px;
  max-width: 567px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  color: #fff;
  background-color: #82d7db69;
  border: 5.35px solid #ffffff47;
  border-radius: 36px;
}

.modal__aside::-webkit-scrollbar {
  width: 0;
}

.quest__title {
  font-size: 36px;
  line-height: 128%;
  text-align: center;
}

.label {
  display: flex;
  align-items: center;
}

.modal__form {
  padding: 108px;
  width: 100%;
  overflow: auto;
}

.modal__form::-webkit-scrollbar {
  width: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.form__upper {
  display: flex;
  gap: 52px;
  width: 100%;
}

.input {
  padding-bottom: 10px;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1.33px solid #8d8d8d;
  font-weight: 500;
  font-size: 18px;
  line-height: 26.67px;
  transition: all 0.1s ease-in-out;
}

.input:focus {
  border-bottom: 1.33px solid#fff;
}

.sertificate__text {
  margin-left: 14px;
  color: #fff;
  font-size: 16px;
  line-height: 26.67px;
}

.textarea {
  padding: 0;
  resize: none;
}

.reservation__more__block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 87px;
  height: 100%;
  background-image: url("../../assets/reservation__bg_modal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.reservation__button {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  background-color: var(--primary-red);
  border: none;
  border-radius: 8px;
}

.checkbox__block {
  display: flex;
  flex-direction: column;
}

.check {
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .modal__block {
    flex-direction: column;
  }

  .modal__form {
    padding: 25px;
    width: 100%;
  }

  .form__upper {
    flex-direction: column;
  }

  .modal__aside {
    padding: 53px 24px;
    gap: 0;
    min-height: 415px;
  }

  .modal__title {
    margin-bottom: 46px;
    font-size: 24px;
    line-height: 128%;
  }

  .quest__perfomance {
    font-size: 18px;
    line-height: 120%;
  }

  .quest__title {
    font-size: 24px;
    line-height: 120%;
  }

  .checkbox__block {
    gap: 15px;
  }

  .sertificate__text {
    font-size: 10px;
    line-height: 18.67px;
  }
}
