.review__block {
  padding: 24px 22px;
  max-width: 347px;
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: #20393a;
  border: 3px solid #ffffff47;
  border-radius: 36px;
  flex-shrink: 0;
}

.review__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

.review__list {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  height: calc(100% - 2em);
}

.review__list::-webkit-scrollbar {
  width: 0;
}
