:root {
  --primary-red: #a40000;
  font-family: var(--font-nunito);
}

body {
  position: relative;
  font-family: var(--font-nunito), Arial, sans-serif;
  color: #fff;
  background-color: #0f0f0f;
}
