.about {
  padding-bottom: 192px;
  background-color: var(--primary-red);
}

.title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 64.84px;
  line-height: 128%;
  text-align: center;
}

.about__descr {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 128%;
}

@media (max-width: 576px) {
  .about {
    padding-bottom: 38px;
  }

  .title {
    margin-bottom: 83px;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 128%;
    border-bottom: 1px solid #ffffff;
  }

  .about__descr {
    font-size: 18px;
    line-height: 128%;
  }
}
