.title__block {
  margin-bottom: 102px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 128%;
  flex-shrink: 0;
}

.hr {
  width: 100%;
}

.police__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.police__item {
  font-weight: 400;
  font-size: 36px;
  line-height: 49.69px;
  color: #a4a6a8;
}

@media (max-width: 576px) {
  .title__block {
    margin-bottom: 30px;
    flex-direction: column;
    gap: 12px;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 128%;
  }

  .police__item {
    font-size: 12px;
    line-height: 120%;
  }
}
