.modal__block {
  padding: 56px 137px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 20px;
  color: #fff;
  overflow-y: auto;
}

@media (max-width: 576px) {
  .modal__block {
    padding: 56px 30px 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
